[Desktop Entry]
Version=1.0
Name=Clickoor Camera
Comment=Arweave India Clickoor Camera
GenericName=Clickoor Camera
Exec=bash /home/pi/clickoor/scripts/start.sh
Icon=org.xfce.camera
Terminal=false
StartupNotify=true
Type=Application
Categories=;
MimeType=text/plain;
